---
# 1. Check if the compiled object already exists
- name: Check if Livestatus is already installed
  stat:
    path: "/usr/local/lib/mk-livestatus/livestatus.o"
  register: livestatus_binary

# 2. Group the download and compile tasks
# These only run if the binary was NOT found in the previous step
- name: Install MK Livestatus
  block:
    - name: Download MK Livestatus
      get_url:
        #url: "https://download.checkmk.com/checkmk/archive/{{ livestatus_version }}/mk-livestatus-{{ livestatus_version }}.tar.gz"
        # Download from Alternative (GitHub Mirror) since checkmk URL require authentication
        url: "https://github.com/EdCa361/mk_livestatus-for-Nagios-4.5.X/archive/refs/heads/main.zip"
        dest: "/tmp/main.zip"
        timeout: 30
      register: download_result
      until: download_result is succeeded
      retries: 2

    - name: Extract Livestatus
      unarchive:
        src: "/tmp/main.zip"
        dest: "/tmp"
        remote_src: yes
        # create: prevents re-extraction if the directory exists (optional, but good for speed)
        creates: "/tmp/mk_livestatus-for-Nagios-4.5.X-main"

    - name: Compile and install MK Livestatus
      shell: |
        make distclean || make clean || true
        ./configure --disable-dependency-tracking
        make
        make install
      args:
        chdir: /tmp/mk_livestatus-for-Nagios-4.5.X-main
        creates: "/usr/local/lib/mk-livestatus/livestatus.o"

    - name: Cleanup downloaded archive
      file:
        path: "/tmp/main.zip"
        state: absent
  # The 'when' condition applies to the whole block
  when: not livestatus_binary.stat.exists

# 3. Configure Nagios (Run this always to ensure config consistency)
- name: Add Livestatus broker to Nagios config
  lineinfile:
    path: /usr/local/nagios/etc/nagios.cfg
    line: "broker_module=/usr/local/lib/mk-livestatus/livestatus.o /usr/local/nagios/var/rw/live"
    state: present
  notify: restart nagios