---
- name: Load OS vars
  include_vars: "{{ ansible_os_family }}.yml"

- name: Enable CRB repository (RHEL/Rocky)
  # become: true
  community.general.ini_file:
    path: "{{ '/etc/yum.repos.d/rocky.repo' if ansible_distribution == 'Rocky' else '/etc/yum.repos.d/redhat.repo' }}"
    section: crb
    option: enabled
    value: "1"
    mode: '0644'
  when: ansible_os_family == "RedHat"

- name: Install Adagios dependencies
  package:
    name: "{{ adagios_deps }}"
    state: present

- include_tasks: pnp4nagios.yml
- include_tasks: livestatus.yml
- include_tasks: adagios_install.yml