WSGIPythonPath /opt/adagios:/opt/adagios/adagios
WSGISocketPrefix /var/run/wsgi
WSGIDaemonProcess adagios python-path=/opt/adagios:/opt/adagios/adagios
WSGIScriptAlias /adagios /opt/adagios/adagios/wsgi.py
<Location /adagios>
    WSGIProcessGroup adagios
    AuthName "Nagios Access"
    AuthType Basic
    AuthUserFile /usr/local/nagios/etc/htpasswd.users
    Require valid-user
</Location>